caption {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 16px;
}

table, tr, th, td {
    border: 1px solid rgb(165, 165, 165);
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
    /*background-color: #eee;*/
}

th {
    background-color: #ccc;
}

tbody tr:nth-child(odd) {
    background-color: #ddd;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}